<div class="grid">
  <div class="col-12 md:col-4 lg:col-3 flex flex-column justify-content-center">
    <p-skeleton styleClass="w-full h-15rem"></p-skeleton>
  </div>

  <div class="col-12 md:col-8 lg:col-9">
    <p-divider align="left" type="solid">
      <b class="text-400 font-italic">Datos del usuario:</b>
    </p-divider>
    <div>
      <p-skeleton width="15rem" styleClass="mb-2"></p-skeleton>
      <p-skeleton width="10rem" styleClass="mb-2"></p-skeleton>
      <p-skeleton width="20rem" styleClass="mb-2"></p-skeleton>
    </div>

    <p-divider align="left" type="solid">
      <b class="text-400 font-italic">Dirección</b>
    </p-divider>
    <div class="post-info">
      <p-skeleton width="10rem" styleClass="mb-2"></p-skeleton>
      <p-skeleton width="6rem" styleClass="mb-2"></p-skeleton>
      <p-skeleton width="15rem" styleClass="mb-2"></p-skeleton>
    </div>

    <p-divider align="left" type="solid">
      <b class="text-400 font-italic">Compañía</b>
    </p-divider>
    <div class="post-info">
      <p-skeleton width="15rem" styleClass="mb-2"></p-skeleton>
    </div>
  </div>
</div>
